/* Pseudo-classes */


/* aplica propriedade CSS quando um elemento estiver ativo ou receber um click com mause*/


/* a:active {
    color: green;
} */


/* busca elementos de input do tipo checked */

input:checked+a {
    color: red;
}


/* buscar elementos que estão vasios */

h1:empty {
    border: 5px solid red;
}


/* busca elementos que estão desabilitados */

input:disabled {
    color: yellowgreen;
    padding: 5px;
    background-color: black;
}

div:first-child {
    color: green;
}